@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>
    Older version<br />
    <a asp-action="Create" asp-controller="Category">Create Category</a><br />
    <a asp-action="Create" asp-controller="Brand">Create Brand</a><br />
    <a asp-action="Create" asp-controller="Phone">Create Phone</a><br />

</h1>
<hr />
<h1>
    Newer version <br />
    <a asp-action="Create" asp-controller="Category">Create Category</a><br />
    <a asp-action="CreateAttribute" asp-controller="Product">Create Attribute</a><br />
    <a asp-action="CreateAttributeSpecs" asp-controller="Product">Create Attribute Spec</a><br />
    <a asp-action="CreateProductList" asp-controller="Product">Create Product </a><br />


</h1>

