@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="~/photos/m_xiaomi-14-ultra-6.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Xiaomi 14 Ultra</h5>
        <p class="card-text">Dahili Depolama:512 GB
            <br />
            Bellek:16 GB
            <br />
            Batarya Kapasitesi: 5000mAh
        </p>
       
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_samsung-galaxy-s24-ultra-1tb-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Samsung Galaxy S24 Ultra</h5>
                <p class="card-text">
                    Dahili Depolama:1 TB
                    <br />
                    Bellek:12 GB
                    <br />
                    Batarya Kapasitesi: 5000mAh
                </p>  
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_apple-iphone-15-pro-max-1tb-3.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Apple Iphone 15 Pro Max </h5>
                <p class="card-text">
                    Dahili Depolama:1 TB
                    <br />
                    Bellek:8 GB
                    <br />
                    Batarya Kapasitesi: 4422mAh
                </p>
            </div>
        </div>
    </div>
</div>

