@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_samsung-s5610-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Samsung S5610</h5>
                <p class="card-text">
                    Dahili Depolama:16 GB
                    <br />
                    Bellek:108 MB
                    <br />
                    Batarya Kapasitesi: 1500mAh
                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_nokia-6310-2021-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Nokia 6310</h5>
                <p class="card-text">
                    Dahili Depolama:2 GB
                    <br />
                    Bellek:16 MB
                    <br />
                    Batarya Kapasitesi: 1150mAh
                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_alcatel-2057d-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Alcatel 2057D</h5>
                <p class="card-text">
                    Dahili Depolama:512 MB
                    <br />
                    Bellek:4 MB
                    <br />
                    Batarya Kapasitesi: 970mAh
                </p>

            </div>
        </div>
    </div>
</div>


