@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_2022-togg-elektrikli-200-bg-otomatik-4x2-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Togg T10X  </h5>
                <p class="card-text">
                    Beygir: 218bg
                    <br />
                    Yakıt Tipi: Elektrik
                    <br />
                    Tork: 350nm

                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_2020-yeni-renault-clio-13.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Renault Clio  </h5>
                <p class="card-text">
                    Beygir: 100bg
                    <br />
                    Yakıt Tipi: Benzin
                    <br />
                    Tork: 142nm

                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_2023-renault-megane-1-5-blue-dci-115-bg-edc-icon-5.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Renault Megane  </h5>
                <p class="card-text">
                    Beygir: 115bg
                    <br />
                    Yakıt Tipi: Dizel
                    <br />
                    Tork: 270nm

                </p>

            </div>
        </div>
    </div>
</div>
