@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_belderia-pexma-26-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Belderia Pexma 26  </h5>
                <p class="card-text">
                    Jant Çapı: 26 inc
                    <br />
                    Vites Sayısı: 21
                    <br />
                    Fren Tipi: V Fren

                </p>

            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_corelli-rave-up-20-v-fren-2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Corelli Rave-Up  </h5>
                <p class="card-text">
                    Jant Çapı: 20 inc
                    <br />
                    Vites Sayısı: 7
                    <br />
                    Fren Tipi: V Fren

                </p>

            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_carraro-force-601-2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Cararro Force 601  </h5>
                <p class="card-text">
                    Jant Çapı: 26 inc
                    <br />
                    Vites Sayısı: 21
                    <br />
                    Fren Tipi: V Fren

                </p>

            </div>
        </div>
    </div>
</div>


