@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_mondial-125-drift-l-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Mondial 125 </h5>
                <p class="card-text">
                    Beygir: 8bg
                    <br />
                    Yakıt Tipi: Benzin
                    <br />
                    Tork: 9nm

                </p>

            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_rks-125r-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">RKS 125R  </h5>
                <p class="card-text">
                    Beygir: 10bg
                    <br />
                    Yakıt Tipi: Benzin
                    <br />
                    Tork: 8nm

                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_kuba-bluebird-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Kuba BlueBird  </h5>
                <p class="card-text">
                    Beygir: 3.21bg
                    <br />
                    Yakıt Tipi: Benzin
                    <br />
                    Tork: 3.3nm

                </p>

            </div>
        </div>
    </div>
</div>