@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_asus-rog-swift-oled-pg49wcd-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Asus Rog Swift OLED</h5>
                <p class="card-text">
                    Ekran Boyutu: 49inc
                    <br />
                    Ekran Tazeleme Hızı: 144hz
                    <br />
                    Ekran Teknolojisi: OLED

                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_samsung-odyssey-oled-g9-49-ls49cg950suxuf-s49cg954s-10.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Samsung Odyssey G9 OLED</h5>
                <p class="card-text">
                    Ekran Boyutu: 49inc
                    <br />
                    Ekran Tazeleme Hızı: 240hz
                    <br />
                    Ekran Teknolojisi: OLED

                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_lenovo-legion-y32p-30-3.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Lenovo Legion Y32p-30</h5>
                <p class="card-text">
                    Ekran Boyutu: 31.5inc
                    <br />
                    Ekran Tazeleme Hızı: 144hz
                    <br />
                    Ekran Teknolojisi: IPS

                </p>

            </div>
        </div>
    </div>
</div>
