@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_samsung-qn990c-98-qe98qn990ctxtk-98qn990ctxtk-6.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Samsung 98QN990C Tv</h5>
                <p class="card-text">
                    Ekran Boyutu: 98inc
                    <br />
                    Ekran Tazeleme Hızı: 120hz
                    <br />
                    Ekran Teknolojisi: LED

                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_lg-oled97m39la-8.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">LG OLED97M39LA Tv</h5>
                <p class="card-text">
                    Ekran Boyutu: 97inc
                    <br />
                    Ekran Tazeleme Hızı: 120hz
                    <br />
                    Ekran Teknolojisi: OLED

                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_philips-77oled808-6.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Philips 77OLED808</h5>
                <p class="card-text">
                    Ekran Boyutu: 77inc
                    <br />
                    Ekran Tazeleme Hızı: 100hz
                    <br />
                    Ekran Teknolojisi: OLED

                </p>

            </div>
        </div>
    </div>
</div>



