@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_monster-markut-m7-v6-2-4-8.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Monster Markut M7  </h5>
                <p class="card-text">
                    Ekran Boyutu: 17.3 inc
                    <br />
                    Bellek: 128 Gb
                    <br />
                    Sabit Disk: 4TB

                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_lenovo-legion-9-83ag000ntr-2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Lenovo Legion 9  </h5>
                <p class="card-text">
                    Ekran Boyutu: 16 inc
                    <br />
                    Bellek: 64 Gb
                    <br />
                    Sabit Disk: 2 TB

                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_msi-creator-z17-hx-studio-a13vgt-038tr-3.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">MSI Creator z17  </h5>
                <p class="card-text">
                    Ekran Boyutu: 17.3 inc
                    <br />
                    Bellek: 64 Gb
                    <br />
                    Sabit Disk: 2 TB

                </p>

            </div>
        </div>
    </div>
</div>