@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_izoly-n12x-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Izoly N12X  </h5>
                <p class="card-text">
                    Ekran Boyutu: 23.3 inc
                    <br />
                    Bellek: 8 Gb
                    <br />
                    Sabit Disk: 500 GB

                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_lenovo-ideacentre-3-f0gj00gstx-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Lenovo IdeaCentre 3  </h5>
                <p class="card-text">
                    Ekran Boyutu: 24.3 inc
                    <br />
                    Bellek: 8 Gb
                    <br />
                    Sabit Disk: 512 GB

                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_hp-pro-240-g9-6d384ea-2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Hp Pro 240 </h5>
                <p class="card-text">
                    Ekran Boyutu: 23.8 inc
                    <br />
                    Bellek: 8 Gb
                    <br />
                    Sabit Disk: 1 TB

                </p>

            </div>
        </div>
    </div>
</div>
