<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/css/stil.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
</head>
<body>

    <div>
        <main role="main">
            <div id="cerceve">
                <div class="cerceve">
                    <div id="ust">
                        <div id="logo"><a href="/"><img alt="Epey Logo" src="https://resim.epey.com/tema/logo.png"></a></div>
                        <div id="garama" class="genel_ara">
                            <form action="" method="get">
                                <input aria-label="arama" class="arama genel_arama" type="text" value="" name="ara" id="ara" autocomplete="off" placeholder="sitede ara" onfocus="if(this.value=='') {this.value = '';}">
                                <input type="hidden" name="kat" value="">
                                <input type="submit" class="ara" value="" id="submit" disabled="">
                            </form>
                            <div class="aramasonuc aramasonuc1 genel_sonuc"></div>
                        </div>
                        <a asp-controller="AdminDashboard" asp-action="Index">
                            <div id="uye_panel">
                                <partial name="LoginIndicator" />
                            </div>
                        </a>

                    </div>

                    <div id="menu">
                        <ul>
                            <li id="34787" class="seviye1">
                                <span class="s1"><a  title="TELEFON" class="seviye1">TELEFON</a>
                                    </span><div class="dropDown dd34787"><div class="full"><div id="e34787" class="grup1"><div id="grup2">
                                        <a asp-controller="Phone" asp-action="Index" title="Akıllı Telefon Fiyatları" class="seviye4 kat1">Akıllı Telefon</a>
                                                <a asp-controller="Phone" asp-action="Phonebybrand" asp-route-brand="Samsung" title="Xiaomi Telefon Fiyatları" class="seviye5">Samsung Telefon</a>

                                        <a asp-controller="Phone" asp-action="Phonebybrand" asp-route-brand="Apple" title="Xiaomi Telefon Fiyatları" class="seviye5">Apple Telefon</a>

                                        <a asp-controller="Phone" asp-action="Phonebybrand" asp-route-brand="Xiaomi" title="Xiaomi Telefon Fiyatları" class="seviye5">Xiaomi Telefon</a>

                            <span class="ayrac">|</span>
                        </ul>
                    </div>


                </div>
            </div>
            <div id="cerceve">
                <div class="cerceve cerceve1">
                    @RenderBody()
                </div>
            </div>

            @Html.Partial("_Compare")



        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/compare.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
