@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_bosch-sms4ikw51t-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Bosch SMS4IKW51T Bulaşık Makinesi</h5>
                <p class="card-text">
                    Enerji Sınıfı:D
                    <br />
                    Program Sayısı:5 program
                    <br />
                    Güç: 2500W
                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_vestel-cmi-128342-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Vestel CMI 128342 Çamaşır Makinesi</h5>
                <p class="card-text">
                    Enerji Sınıfı:A
                    <br />
                    Program Sayısı:15 program
                    <br />
                    Güç: 2200W
                </p>

            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_lg-gtl569pqam-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">LG GTL569PQAM</h5>
                <p class="card-text">
                    Enerji Sınıfı:E
                    <br />
                    Program Sayısı:2 program
                    <br />
                    Güç: 3500W
                </p>

            </div>
        </div>
    </div>
</div>

