@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_dyson-v12-detect-slim-absolute-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Dyson V12 Şarjlı Süpürge</h5>
                <p class="card-text">
                    Çalşma Süresi:60 Dk
                    <br />
                    Net Ağırlık: 2.2 kg
                    <br />
                    Boy: 1234 mm
                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_philips-perfectcare-9000-psg9050-20-2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Philips PerfectCare Ütü</h5>
                <p class="card-text">
                    Çalşma Süresi:160 Dk
                    <br />
                    Net Ağırlık: 5.2 kg
                    <br />
                    Boy: 288 mm
                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_roborock-s8-2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Roborock S8 Sonic Robot Süpürge</h5>
                <p class="card-text">
                    Çalşma Süresi:180 Dk
                    <br />
                    Net Ağırlık: 12.2 kg
                    <br />
                    Boy: 94 mm
                </p>

            </div>
        </div>
    </div>
</div>
