@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_vestel-flora-doga-182-2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Vestel Flora Doğa 182 Duvar Tipi Klima</h5>
                <p class="card-text">
                    Isıtma Kapasitesi: 18.000 BTU
                    <br />
                    Soğutma Kapasitesi: 19.000 BTU
                    <br />
                    Isıtma Güç Tüketimi: 1.54 kW
                    <br />
                    Soğutma Güç Tüketimi: 1.84 kW
                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_lg-dualcool-plus-9-2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">LG DualCool Plus 12 Duvar Tipi Klima</h5>
                <p class="card-text">
                    Isıtma Kapasitesi: 13.668 BTU
                    <br />
                    Soğutma Kapasitesi: 11.950 BTU
                    <br />
                    Isıtma Güç Tüketimi: 1.05 kW
                    <br />
                    Soğutma Güç Tüketimi: 1.08 kW
                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_altus-alk-1840-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Altus ALK 7840 Duvar Tipi Klima</h5>
                <p class="card-text">
                    Isıtma Kapasitesi: 18.000 BTU
                    <br />
                    Soğutma Kapasitesi: 19.790 BTU
                    <br />
                    Isıtma Güç Tüketimi: 1.611 kW
                    <br />
                    Soğutma Güç Tüketimi: 1.648 kW
                </p>

            </div>
        </div>
    </div>
</div>
