@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_philips-s5887-10-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Philips S5857/10 Sakal Kesme Makinesi</h5>
                <p class="card-text">
                    Çalışma Süresi: 60dk
                    <br />
                    Kullanım Şekli: Kablosuz
                    <br />
                    Şarj Süresi: 60dk

                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_oral-b-io-5-2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Oral-B IO 5 Şarjlı Diş Fırçası</h5>
                <p class="card-text">
                    Çalışma Süresi: 60dk
                    <br />
                    Kullanım Şekli: Şarjlı
                    <br />
                    Şarj Süresi: 30dk

                </p>

            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_aprilla-aep-7803-1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Aprilla AEP 7803 Epilasyon Aleti</h5>
                <p class="card-text">
                    Çalışma Süresi: -
                    <br />
                    Kullanım Şekli: Kablolu
                    <br />
                    Şarj Süresi: -

                </p>

            </div>
        </div>
    </div>
</div>