@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_philips-2300-serisi-ep2331-10-3.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Philips EP2331/10 Kahve Makinesi</h5>
                <p class="card-text">
                    Güç: 1500W
                    <br />
                    Fincan Kapasitesi: 15 fincan
                    <br />
                    Su Kapasitesi: 1800 ml
                    
                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_fakir-temper-2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Fakir Temper Çay Makinesi</h5>
                <p class="card-text">
                    Güç: 1800W
                    <br />
                    Fincan Kapasitesi: 22 fincan
                    <br />
                    Su Kapasitesi: 2800 ml

                </p>

            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/photos/m_philips-hda150-61-3.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Philips HDA150 Kahve Makinesi</h5>
                <p class="card-text">
                    Güç: 735W
                    <br />
                    Fincan Kapasitesi: 5 fincan
                    <br />
                    Su Kapasitesi: 280 ml

                </p>

            </div>
        </div>
    </div>
</div>